.article-title {
    font-size: 4rem;
    font-weight: 600;
}

.article-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.article-content {
    font-size: 1.25rem;
    font-weight: 200;
}

.article-tag {
    font-size: 0.75rem;
    font-weight: 300;
}

.article-contributors-type {
    font-size: 0.75rem;
    font-weight: 500;
}

.article-contributors-name {
    font-size: 0.75rem;
    font-weight: 300;
}